<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<%= button_to "Edit" , edit_post_path(@post) , method: :get %>

<%= button_to "Delete", post_path(@post) , method: :delete, data: {confirm: "Are you sure?"} %>